
@{
    ViewData["Title"] = "Instruction";
}

<h2>Instruction</h2>

Данный сайт позволяет Вам вести расписание занятий для Ваших детей.
Часто путаетесь, чем занимались в последнее время, а что из важного пропустили? Начните пользоваться "Планировщиком занятий"!

Как начать пользоваться планировщиком занятий?
Для начала, зарегистрируйтесь на сайте, воспользовавшись кнопкой в правом верхнем углу. Указав корректные данные, вас переадресует на главную страницу сайта.
Теперь, прежде чем просматривать план и расписание, нам необходимо указать приложению для кого мы будем составлять расписание, и какие именно занятия будут в него входить.
Нажимаем на кнопку "Настройки" в верхнем поле.

Далее нажимаем на "Добавить ребёнка".
В поля формы набираем Имя и Фамилию ребенка. Внимание - нельзя создать несколько детей с одинаковой комбинацией Имени и Фамилии, дабы не избежать путаницы при выводе расписания.
Если вам необходимо добавить двух детей с индентичными ФИ - рекомендуем добавить в раздел Фамилия опознавательную информацию (прим. Щеглов 7 лет.).

После создания ребенка на сайте, вы можете добавить для него занятия, воспользовавшись соответствующей кнопкой "Добавить занятие". Воспользуйтесь кнопкой, которая находится именно под именем ребёнка, которому создается занятие.
Здесь вам необходимо указать информацию о занятии:
Категория занятия - общее для нескольких занятий описание, которое используется для визуальной сортировки (прим. Танцы).
Название занятия - непосредственно занятие, которое должен выполнять ребёнок (прим. Сальса).
Периодичность занятия - частота, с которой необходимо выполнять это занятие, указывается в днях (прим. Сальсой необходимо заниматься раз в 2 дня).
Начало занятия - дата, с которой занятие необходимо вносить в расписание. Дата начала не может быть раньше текущей даты (Заниматься Сальсой ребёнок начнет с 5.07.2019).

В Вашем разделе "Настройки" указываются созданные Вами дети и соответствующие им занятия.
С помощью иконок возле каждого созданного пункта Вы можете отредактировать или удалить информацию. Внимание: При удалении ребёнка также удаляются все указанные для него занятия.

Перейдя в "Расписание" нам необходимо указать, для какого ребенка расписание нас интересует, выбрать промежуток дат и нажать на "Показать". Примечание: нельзя указывать дату до регистрации в системе.
После этого вам отобразиться таблица с занятиями на указанный промежуток. Выполненное занятие обозначается +, пропущенное -, запланированное t.

В разделе "План на день" указываются задания, актуальные на текущий день, а также занятия, которые были пропущены ранее. Информация отображается для каждого ребёнка.







Что делает приложение если я не захожу в него несколько дней?
Сайт считает, что вы весьма порядочно продолжали выполнять всё по расписанию, и выставляет прошедшим занятиям "Выполнено".

Что происходит с пропущенными занятиями?
Пропущенные занятия отображаются в плане на день до тех пор, пока не будут сделаны, или же не достигнут даты, когда они будут по расписанию. Если пропущенное занятие было сделано - его следующая дата по плану пересчитывается.