@{
    ViewData["Title"] = "Справка";
}
<h3>Справка по планировщику занятий</h3>
<div>
    Данный сайт позволяет Вам вести расписание занятий для Ваших детей.<br />
    Часто путаетесь, чем занимались в последнее время, а что из важного пропустили? Начните пользоваться "Планировщиком занятий"!<br />
</div>
<div>
    <h4>Как начать пользоваться "Планировщиком занятий"?</h4>
    Для начала, зарегистрируйтесь на сайте, воспользовавшись кнопкой в правом верхнем углу. Указав корректные данные, вас переадресует на главную страницу сайта.<br />
    Теперь, прежде чем просматривать план и расписание, нам необходимо указать приложению для кого мы будем составлять расписание, и какие именно занятия будут в него входить.
    Нажимаем на кнопку "<b>Настройки</b>" в верхнем поле. <br /><br />

    Далее нажимаем на <b>"Добавить ребёнка"</b>.<br />
    В поля формы набираем Имя и Фамилию ребенка.  <i>
        Внимание - нельзя создать несколько детей с одинаковой комбинацией Имени и Фамилии, дабы избежать путаницы при выводе расписания. <br />
        Если вам необходимо добавить двух детей с индентичными ФИ - рекомендуем добавить в раздел Фамилия опознавательную информацию (прим. Щеглов 7 лет.).
    </i>
    <br /><br />

    <b>Добавить занятие</b> можно только после создания ребёнка на сайте. Воспользуйтесь соответствующей кнопкой, которая находится именно под именем ребёнка, которому создается занятие.
    Здесь вам необходимо указать информацию о занятии:<br />
    <ul>
        <li>Категория занятия - общее для нескольких занятий описание, которое используется для визуальной сортировки (прим. Танцы).</li>
        <li>Название занятия - непосредственно занятие, которое должен выполнять ребёнок (прим. Сальса).</li>
        <li> Периодичность занятия - частота, с которой необходимо выполнять это занятие, указывается в днях (прим. Сальсой необходимо заниматься раз в 2 дня).</li>
        <li>Начало занятия - дата, с которой занятие необходимо вносить в расписание. Дата начала не может быть раньше текущей даты (Заниматься Сальсой ребёнок начнет с 5.07.2019).</li>
    </ul>
    <br />
    <b>Настройки</b> - это раздел, в котором указываются созданные Вами дети и соответствующие им занятия, и где производятся дополнительные операции с ними.
    С помощью иконок возле каждого созданного пункта Вы можете отредактировать или удалить информацию. <i>Внимание: При удалении ребёнка также удаляются все указанные для него занятия.</i>
    <br /><br />
    Перейдя в <b>Расписание</b> нам необходимо указать, для какого ребенка расписание нас интересует, выбрать промежуток дат и нажать на "Показать". <i>Примечание: нельзя указывать дату до регистрации в системе.</i>
    После этого вам отобразиться таблица с занятиями на указанный промежуток. <br />
    <i>Выполненное занятие обозначается +, пропущенное -, запланированное #. <br /></i><br />
    В разделе <b>План на день</b> указываются задания, актуальные на текущий день, а также занятия, которые были пропущены ранее. Информация отображается для каждого ребёнка.
    Также в этом разделе Вы можете указать, какие упражнения были выполнены с помощью соответствующих кнопок.
</div>
<div>
    <h4>Что делает приложение если я не захожу в него несколько дней?</h4>
    Сайт считает, что вы весьма порядочно продолжали выполнять всё по расписанию, и выставляет прошедшим занятиям "Выполнено". <br />
    <br />
    <h4>Что происходит с пропущенными занятиями?</h4>
    Пропущенные занятия отображаются в плане на день до тех пор, пока не будут сделаны, или же не достигнут даты, когда они будут по расписанию. Если пропущенное занятие было сделано - его следующая дата по плану пересчитывается.
</div>