
@{
    ViewData["Title"] = "Расписание";
}
@model List<Child>;
<h3>Расписание</h3>
<h5>Выберите ребёнка и укажите промежуток расписания для отображения.</h5>

<form asp-controller="Home" asp-action="GetScheduleTable" method="post">
    <nav>
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <label>Ребёнок</label>
                        <select name="childId" style="height: 26px; padding-left:15px">
                            @foreach (var item in Model)
                            {
                                <option value="@item.ChildId">@item.Name @item.Surname</option>
                            }
                        </select>
                    </li>
                    <li style="padding-left:15px">
                        <label> Вывести расписание с: </label>
                        <input type="date" name="startdate" />
                    </li>
                    <li style="padding-left:15px">
                        <label> по: </label>
                        <input type="date" name="endate" />
                    </li>
                    <li style="padding-left:15px">
                        <input type="submit" value="Показать" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</form>

